
<% if @errors.any? %>
	<h2><%= pluralize(@errors.size, "error") %> prohibited this import from completing:</h2>
	<% @errors.each do |msg|%>
		<div id="error_explanation"> 
			<ul>
				<li><%= msg.join(',') %></li>
			</ul>
		</div>
	<% end %>
<%end%>
	<h2>Total saved rows:- <%=  @saved_objects[:passed] %></h2>
	<h2>Total unsaved rows:- <%=  @saved_objects[:failed] %></h2>
	<table>
	  <tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Email ID</th>
	  </tr>
	  <% @users.each_with_index do |user,index |%>
	  <tr style="color:<%= user.errors.any? ? 'red' : 'black'%>;">
	    <td><%= user.first_name %></td>
	    <td><%= user.last_name %></td>
	    <td><%= user.email_id %></td>
	    <td><%= user.errors.any? ? "Not Saved(#{user.sheet_error})" : 'Saved' %></td>
	  </tr>
	  <%end%>

	</table>

